.visibleBtn {
    height: 30px;
    width: 30px;
}

table {
    border-radius: 25px;
    border: 2px solid white;
    background-color: #5803AC;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
    margin: 5px;
  }

  th, td {
    background-color:#5803AC;
    margin: 5px;
    padding: 10px;
  }

.timelinesTable {
    margin: auto;
    padding: 10px;
    min-width: 25%;
}

body {
    background-color: white;
}

.addTimelineBtn {
    display: flex;
    margin-top: 10px;
    justify-content: center;

}
