.visibleBtn {
    height: 30px;
    width: 30px;
}

table {
    
    border-radius: 25px;
    border: 2px solid white;
    
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
    margin: 5px;
  }

  th, td {
    background-color:#5803AC;
    margin: 5px;
    padding: 10px;
  }

.timelinesTable {
    margin: auto;
    padding-top: 56px !important;
    padding: 10px;
    min-width: 25%;
    margin-top: 10px;
}

body {
    background-color: white;
}

.addTimelineBtn {
    display: flex;
    align-items: end;
    margin-top: 10px;
    justify-content: center;

}

.timelineContainer {
  padding-bottom: 0;
  padding-top: 56px !important;
  filter: drop-shadow(0 0 0.3rem #E950C8)
}


/* th:first-of-type {
    border-top-left-radius: 10px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px !important;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px !important;
  } */