.infoContainer {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    justify-content: space-between;
    padding-top: 40px !important;

    color: #04E2B7;
    margin: auto;
    width: 50dvh !important;
    height: 30% !important;
    background-color: #3D007A;
    filter: drop-shadow(0 0 0.5rem #E950C8);
}

.techUsed {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#thanks {
    width: 80%;
    padding-left: 40px;
    text-align: center;
}

#infoPage {
    text-align: center;
    
}

.linkedIn {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    margin-bottom: 50px;
}

.infoPage {
    display: flex;
    flex-flow: row nowrap;
}

img {
    padding: 10px;
    padding-top: 40px
}