a {
    text-decoration: none;
    color: #04E2B7;
  }

  html {
    height: 100%;
    background-color: black;
    overflow: scroll;
    
  }

  .container {
    padding-bottom: 0;
    font-family: 'Ubuntu', "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
  }


  #timelineDiv {
    padding-top: 50px;
    height: 100%;
    overflow: scroll;
  }
  #timelineDiv::-webkit-scrollbar {
    display: none;
  }

  .addPostBtn {
    position:fixed !important; 
    bottom: 0;
    left: 36.5%;
    border: 10px solid #04E2B7;
    z-index: 5;
    padding-right: 50px;
    
  }

  .addPostDiv {
    display: flex;
    justify-content: center;

  }

  .imagePost {
    object-fit: cover;
    object-position: 25% 25%; 
  }

  .postItem {
    text-align: center;
  }

  .postTimelineElement {
    filter: drop-shadow(0 0 0.5rem #E950C8);
  } 

  h4 {
    margin: 0
  }