a {
    text-decoration: none;
    color: #9489FF;
  }

  .container {
    background-color: white;
  }

  .addPostBtn {
    position:fixed !important; 
    bottom: 0;
    left: 50% !important;
    margin-top:50% !important;
  }