a {
    text-decoration: none;
    color: #3D007A;
  }

  .container {
    background-color: black;
  }

  .addPostBtn {
    position:fixed !important; 
    bottom: 0;
    left: 40% !important;
    margin-top:50% !important;
    border: 10px solid #04E2B7;
    z-index: 5;
  }

  .imagePost {
    object-fit: cover;
    object-position: 25% 25%; 
  }

  /* .postItem {
    background-color: #2082A6;
  }

  .postTimelineElement {
    background-color: #2082A6;
  } */