.nav {
  /* flex box layout */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  margin: 0 0 ;
  padding: 5px 0;
  background-color: #09074B;
  width: 100%;
  overflow: auto;
}
@font-face {
  font-family: AstroSpace;
  src: url('./AstroSpace.ttf');
}

.loginLink {
  padding-left: 10px !important;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-family: AstroSpace;
  font-size: 24px;
  font-weight: 700;
  color: #04E2B7;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #04E2B7;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  background-color: transparent !important;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.menuDiv:hover .child {
  background-color: #09074B !important;
}

MenuItem:hover .child{
  background-color: #09074B !important;
}

.navLink:hover{
  background-color: #09074B !important;
}

.MuiList-root {
  background-color: #3D007A;
  min-width: 500;
}

.MuiButtonBase-root:hover {
  background-color: #09074B !important;
}

/* .MuiTextField-root {
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: white !important;
} */

.searchField {
  background-color: white !important;
  color: white;
}

.searchDiv {
  display: flex;
  align-items: flex-end;
  padding-right: 5px;
}

.MuiInputBase-input {
  margin-bottom: 10px !important;
}