.nav {
  /* flex box layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 0 ;
  background-color: #09074B;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #04E2B7;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #04E2B7;
  background-color: #09074B;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #3D007A;
}

/* .MuiTextField-root {
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: white !important;
} */

.searchField {
  height: 32px !important;
  padding-top: 8px !important;
  padding-bottom: 10px !important;
  background-color: white !important;
  color: white;
}

.MuiFormControl-root {
  padding-top: 0px !important;
  margin-top: 15px !important;
}

.MuiInputBase-input {
  margin-bottom: 10px !important;
}